body {
    background-color: white;
    margin: 0px;
}

.topnav {
    width: 100%;
    height: 70px;
    margin: 0px;
    background-color: yellow;
}

.topnav img {
    width: fit-content;
    height: 100%;
}

.active {
    color: black;
}

.signIn {
    float: right;
}
.signUp {
    float: right;
    margin-right: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    width: max-content;
    border: 1px solid #333;
    padding: 0px;
 }

 #post {
    width: 1000px;
    height: 659px;
    float: left;
    background: #e8e8e8;
 }

 #image {
    float: right;
    width: 535px;
    height: 659px;
    background: #b1b1b1;
   }

.clear {
    clear: both;
}