.page {
    width: 100%;
}

.content1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftSide1 {
    width: 40%; 
}
.rightSide1 {
    width: fit-content;
}

.img-container-content2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.intributor-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}



.content3 {
    width: 100%;
}