* {
    font-family: 'Montserrat', sans-serif;
}

#formContainer {
    box-sizing: border-box;
    background-color: rgb(var(--gray0));
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
    box-shadow: 0 4px 12px 0 rgba(var(--gray80), 0.15);
}

div.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContact {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#formFullname {
    margin-top: 30px;
}

.selector {
    display: flex;
    flex-direction: column;
    width: 100;
    margin-bottom: 10px;
}

label {
    font-size: 0.95rem;
    font-weight: 600;
    color: rgb(var(--gray100));
    text-align: left;
}

input,
select,
textarea {
    margin: 5px 0px;
    border-radius: 5px;
    color: rgb(var(--gray100));
}

span {
    font-size: 0.85rem;
    text-align: left;
    padding: 0px 0px 15px 0px;
    color: red;
    display: block;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"]~span {
    display: block;
}

select {
    padding: 14px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: left;
}

textarea {
    font-family: inherit;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

#btn-submit {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none !important;
    padding: 16px 28px;
    background-color: rgba(255, 221, 64, 0.8);
    color: rgb(var(--gray80));
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 550px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin-top: -50px;
    }

    .formContact {
        display: flex;
        align-items: center;
        width: 100%;
    }

    form {
        margin: 15px;
    }

    textarea {
        border-radius: 10px;
    }

    input,
    select,
    textarea {
        border: 1px solid var(--line);
        color: rgb(var(--gray100));
    }

    input {
        width: 125%;
    }

    select {
        width: 125%;
    }

    textarea {
        width: 135%;
    }

    .selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    #btn-submit {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(255, 221, 64, 0.8);
        color: rgb(var(--gray80));
        font-weight: 700;
    }

    label {
        font-size: 0.8rem;
        width: 100%;
        font-weight: 600;
        color: rgb(var(--gray100));
        text-align: center;
    }
}