.formInput {
   display: flex;
   flex-direction: column;
   width: 450px;
}

input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

label {
    font-size: 0.8rem;
    color: gray;
    text-align: left;
}

span {
    font-size: 1rem;
    text-align: left;
    padding: 0px 0px 15px 0px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
    display: block;
}