.Body {
    width: 100%;
    /* margin: 0;
    padding: 0; */
}

.content1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 0;
    /* background-color: blue; */
}

.content1 div {
    flex: 1;
}
.leftSide1 {
    width: 50%;
    margin-top: 9%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.leftSide1 a {
    font-size: 18px;
    font-family: BinancePlex,Arial,sans-serif!important;
    color: rgb(0 82 255);
    margin-left: 35%;
    margin-right: 18%;
    text-align: left;


}

.leftSide1 h1 {
    font-family: BinancePlex,Arial,sans-serif!important;
    font-size: 60px;
    color: black;
    text-align: left;
    margin-bottom: 0;
    margin-left: 34%;
    margin-right: 15%;

}

.leftSide1 h4 {
    font-size: 18px;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 35%;
    text-align: left;

}

.rightSide {
    width: fit-content;
    margin-left: 3%;
    float: right;
}

.border-img {
    align-self: center;
    width: 35%;
    /* margin-top: 20px; */
    margin-left: 0;
    /* border: 2px solid gray;
    border-radius: 2%;

    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc; */
}

#body-img {
    width: 90%; 
    background-color: transparent;   
}

.blue-site {
    background-size: cover;
}

#blue-site1 {
    background-color: rgb(0 82 255);
    background-image: linear-gradient(white,rgb(0 82 255));
    width: 100%;
    height: 60px;
}

#blue-site2 {
    background-color: rgb(0 82 255);
    background-image: linear-gradient(rgb(0 82 255),white);
    width: 100%;
    height: 50px;
}

.content2 {
    /* Delete this line below when you add animation */
    margin-top: 4%;
    width: 100%;    
}

#ct2_h1 {
    text-align: center;
    font-size: 38px;
}

#ct2_h6 {
    font-size: 20px;
}

.in_content2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 776px;
}

.leftSide2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 10px;
}

.leftSide2 .box1, .box2, .box3 {
    flex: 1;
}


.box1, .box2, .box3 {
    height: 20%;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.leftSide2 h1 {
        font-size: 22px;
        margin-bottom: 7px;
        text-align: left;
}

.leftSide2 h6 {
    font-size: 17px;   
    font-family: "Times New Roman", Georgia, serif; 
    text-align: left;
}

.img-box1 {
    width: 40%;
}

#img-box1 {
    width: 100%;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;   
}

.text-box1 {
    width: 60%;
}


.img-box2 {
    width: 40%;
}

#img-box2 {
    width: 100%;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;   
}

.text-box2 {
    width: 60%;
}



.img-box3 {
    width: 40%;
}

#img-box3 {
    width: 100%;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;   
}

.text-box3 {
    width: 60%;
}

.text-box1, .text-box2, .text-box3{
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
}

/* Only touch if adjust space between two Left and Right divs */
.space {
    margin: 20px;
}
/* Up */


#img-rightSide2 {
    width: 80%;
    height: 85%;
}

#img-rightSide2:hover {
    animation: shake 0.5s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#test {
    border: red;
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 
        .Body {
            width: 100%;
        }
        .leftSide1 {
            margin-top: 70px;
        }
        .leftSide1 h1{
            font-size: 16px;
            margin-top: 1px;
            margin-left: 18px;

        }

        .leftSide1 a {
            font-size: 8px;
            margin-left: 18px;
        }

        .leftSide1 h4 {
            font-size: 11px;
            margin-left: 18px;

        }

        #phone-img svg {
            width: 190px;
            height: 300px;
        }

        .blue-site {
            width: 100%;
            height: 50px;
            margin-top: 0;
        }
        #blue-site1 {
            width: 100%;
            height: 50%;
        }
        #blue-site2 {
            width: 100%;
            height: 50%;
        }

        .content2 {
            margin-top: 20px;
        }

        #ct2_h1 {
            font-size: 17px;
        }

        #ct2_h6 {
            font-size: 10px;
        }

        .space {
            margin: 5px;
        }

        .in_content2 {
            margin-top: 1px;
            width: 100%;
            height: auto;
        }

        .leftSide2 {
            margin-top: 40px;
            margin-left: 2px;
            margin-right: 1px;
        }

        .box1, .box2, .box3 {
            margin: 2px;
            width: 100%;
            height: 30%;
        }

        .leftSide2 h1 {
            font-size: 10px;
            margin-bottom: 1px;
        }

        .leftSide2 h6 {
            font-size: 7px;
        }

        .rightSide2 {
            width: 60%;
        }

        #img-rightSide2 {
            margin-top: 25px;
            width: 100%;
            height: 85%;
        }

        #img-rightSide2:hover {
            animation: shake 0.5s;
        
            animation-iteration-count: infinite;
        }
        
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
          10% { transform: translate(-1px, -2px) rotate(-1deg); }
          20% { transform: translate(-3px, 0px) rotate(1deg); }
          30% { transform: translate(3px, 2px) rotate(0deg); }
          40% { transform: translate(1px, -1px) rotate(1deg); }
          50% { transform: translate(-1px, 2px) rotate(-1deg); }
          60% { transform: translate(-3px, 1px) rotate(0deg); }
          70% { transform: translate(3px, 1px) rotate(-1deg); }
          80% { transform: translate(-1px, -1px) rotate(1deg); }
          90% { transform: translate(1px, 2px) rotate(0deg); }
          100% { transform: translate(1px, -2px) rotate(-1deg); }
        }

        .text-box1, .text-box2, .text-box3{
            margin-left: 8px;
            margin-top: 3px;
            text-align: left;
        }
    }
