.Body {
    width: 100%;
}

.content1 {
    width: max-content;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* background-color: blue; */
}

.content1 div {
    flex: 1;
}
.leftSide1 {
    width: 50%;
    margin-top: 70px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;

    /* background-color: black; */
}

.leftSide1 a {
    font-size: 18px;
    font-family: BinancePlex,Arial,sans-serif!important;
    color: rgb(0 82 255);
    margin-left: 240px;
    margin-right: 80px;
    text-align: left;


}

.leftSide1 h1 {
    font-family: BinancePlex,Arial,sans-serif!important;
    font-size: 60px;
    color: black;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 240px;
    margin-right: 100px;

}

.leftSide1 h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 240px;
    text-align: left;

}

.rightSide {
    width: fit-content;
    margin-left: 20px;
    float: right;
}

.border-img {
    align-self: center;
    width: 35%;
    margin-top: 20px;
    margin-left: 130px;
    border: 2px solid gray;
    border-radius: 2%;

    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

#body-img {
    width: 90%; 
    background-color: transparent;   
}

#ct2_h1 {
    text-align: center;
    font-size: 38px;
}

#ct2_h6 {
    font-size: 20px;
}

.content2 {
    /* Delete this line below when you add animation */
    margin-top: 250px;
    width: 100%;    
}

.in_content2 {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 776px;
}

.leftSide2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* height: 100%; */
    margin-left: 100px;
    margin-right: 10px;
}

.box1, .box2, .box3 {
    height: 30%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.leftSide2 h1 {
        font-size: 22px;
        margin-bottom: 7px;
}

.leftSide2 h6 {
    font-size: 17px;   
    font-family: "Times New Roman", Georgia, serif; 
}

.img-box1 {
    width: 40%;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;   
}

#img-box1 {
    width: 100%;
}

.text-box1 {
    width: 60%;
}


.img-box2 {
    width: 40%;
}

#img-box2 {
    width: 100%;
}

.text-box2 {
    width: 60%;
}



.img-box3 {
    width: 40%;
}

#img-box3 {
    width: 100%;
}

.text-box3 {
    width: 60%;
}

.text-box1, .text-box2, .text-box3{
    margin-left: 30px;
    text-align: left;
}
/* Only touch if adjust space between two Left and Right divs */
.space {
    margin: 20px;
}
/* Up */

.rightSide2 {
    margin-top: 20px;
}

#img-rightSide2 {
    width: 80%;
    height: 85%;
}

#test {
    border: red;
}
