.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  color: black;
  text-align: left;
  font-size: 1.5em;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: yellow;
  color: black;
  border-radius: 5;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
